<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <div id="chat-wrapper" class="hidden">
        <div class="chatbody">
            <div class="title">
                <h1>DashBot</h1>
                <button id="close-chat"><h1><i class="ri-close-circle-line"></i></h1></button>
            </div>
            <div id="chat-container"></div>
            <div class="userActions">
                <input type="text" id="user-input" placeholder="Type your message...">
                <button id="send-button"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
    <button id="open-chat"><i class="ri-robot-2-line"></i></button>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>